
<div class="container marketing">
	<div class="row">
		<div class="span5" style="display: relative;">
			<img class="img-circle" data-src="holder.js/140x140">
			<h2>
				Non-Profits
			</h2>
			<p>
				Non-Profits who are in need of Technical Expertise can register thier
				organizations here and can be able to find developers, designers, or any
				other interested people.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<!-- /.span4 -->
		<!-- /.span4 -->
		<div class="span5" style="display: relative;">
			<img class="img-circle" data-src="holder.js/140x140">
			<h2>
				Volunteers
			</h2>
			<p>
				People who are interested in contributing to a cause&nbsp;
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<img class="featurette-image pull-right" src="http://twitter.github.com/bootstrap/assets/img/examples/browser-icon-chrome.png">
		<h2 class="featurette-heading">
			First featurette headling.
			<span class="muted">It'll blow your mind.</span>
		</h2>
		<p class="lead">
			Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
			porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
			nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
		</p>
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<img class="featurette-image pull-left" src="http://twitter.github.com/bootstrap/assets/img/examples/browser-icon-firefox.png">
		<h2 class="featurette-heading">
			Oh yeah, it's that good.
			<span class="muted">See for yourself.</span>
		</h2>
		<p class="lead">
			Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
			porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
			nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
		</p>
	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<img class="featurette-image pull-right" src="http://twitter.github.com/bootstrap/assets/img/examples/browser-icon-safari.png">
		<h2 class="featurette-heading">
			And lastly, this one.
			<span class="muted">Checkmate.</span>
		</h2>
		<p class="lead">
			Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
			porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
			nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
		</p>
	</div>
	<hr class="featurette-divider">
	<footer>
		<p class="pull-right">
			<a href="#">Back to top</a>
		</p>
		<p>
			© 2013 Contribute, Inc. ·
			<a href="#">Privacy</a>
			·
			<a href="#">Terms</a>
		</p>
	</footer>
</div>


