$('#signup-form').html("<p class='notice' style='font-size:150%;padding:10px'>We got you covered !!!! Please follow our social channels to support us ...</p>");
$(".fbSendButtonFormContainer form").css({
  z-index: '999999'
});